<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hero.WebUI</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/Libraries/bootstrap/3.3.7/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Libraries/bootstrap/4.0.0/css/bootstrap.min.css"  />
    </environment>
    <style>
        html, body { width: 100%; height: 100%; }
    </style>
    @this.RenderSection("Styles", false)
</head>
<body>
    @this.RenderBody()
    <environment include="Development">
        <script src="~/Libraries/jquery/jquery-3.2.1.js"></script>
        <script src="~/Libraries/bootstrap/4.0.0/js/bootstrap.js"></script>
        <script src="~/Scripts/jQuery.extension.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Libraries/jQuery/jquery-3.2.1.min.js"></script>
        <script src="~/Libraries/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="~/Scripts/jQuery.extension.js"></script>
    </environment>
    @this.RenderSection("Scripts", false)
</body>
</html>
