@model Hunter.Models.User.Edit
@{ 
    var permits = this.ViewData["Permits"] as List<Hunter.Models.Permit.Choose>;
    this.Model.Permits = this.Model.Permits ?? new HashSet<string>();
}
<form id="form" class="position-absolute layout" style="left: 1em; right: 1em; bottom: 4.5em;">
    <input type="hidden" asp-for="ID" />
    <table class="table">
        <tr>
            <td style="width: 80px">
                <label asp-for="Account"></label>
            </td>
            <td>
                <input class="form-control" asp-for="Account" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Password"></label>
            </td>
            <td>
                <input class="form-control" asp-for="Password" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Name"></label>
            </td>
            <td>
                <input class="form-control" asp-for="Name" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Permits"></label>
            </td>
            <td style="text-align: left;">
                <div class="container-fluid">
                    <div class="row">
                        @foreach (var permit in permits)
                        {
                            <label class="col-md-4 col-xs-6" style="margin-bottom: 10px;">
                                <input type="checkbox" id="Permits" name="Permits" @(this.Model.Permits.Any(m => m == permit.Code) ? "checked" : "") value="@permit.Code"/>
                                <span>@permit.Name</span>
                            </label>
                        }
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Remark"></label>
            </td>
            <td>
                <textarea class="form-control" asp-for="Remark"></textarea>
            </td>
        </tr>
    </table>
</form>
<div class="position-absolute layout border-top" style="top: auto; height: 4.5em;">
    <table class="table border-0" style="height: 100%; margin: 0px;">
        <tr>
            <td>
                <input type="button" class="btn btn-default" id="btn-save" value="保存" />
            </td>
        </tr>
    </table>
</div>

@section Scripts
{
    <environment include="Development">
        <script src="~/Libraries/jquery-validation/1.17.0/jquery.validate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Libraries/jquery-validation/1.17.0/jquery.validate.min.js"></script>
    </environment>
    <script src="~/Libraries/layer/3.1.1/layer.js"></script>
    <script>
        var initializeData = function () {
            $.ajax({
                type: 'post',
                success: function (data) {

                }
            })
        }

        $(function () {
            var validate_options = $.extend($.Validate.DEFAULT, {})
            var validator = $('#form').validate(validate_options);

            $('#btn-save').click(function (event) {
                if (!validator.form())
                    return false
                var obj = $('body').serializeData();
                $.ajax({
                    url: '@this.Url.Action("Save")',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(obj),
					success: function () {
						window.top.layer.msg('保存成功', { icon: 1 })
						window.top.RefreshList && window.top.RefreshList()
                    }
                })
            })
        })
    </script>
}