@model MongoDB.Bson.BsonDocument

<form asp-controller="Form" asp-action="Design" method="post">
    <input type="hidden" name="id" value="@this.Model.TryGetValue("_id").TryToString()" />
    <textarea name="html" id="editor" style="width: 100%; height: 100%;">@this.Model.TryGetValue("html").TryToString()</textarea>
</form>

@section Scripts
{
    <script src="~/Libraries/ckeditor/4.8.0/ckeditor.js"></script>
    <script>
        $(function () {
            var editor = CKEDITOR.replace('editor');
            console.log(editor)
        })
    </script>
}

