@model Hunter.Entities.Form

<form asp-controller="Form" asp-action="Design" method="post">
    <input type="hidden" name="id" value="@this.Model.ID" />
    <textarea name="html" id="editor" style="width: 100%; height: 100%;">@this.Model.Html</textarea>
</form>

@section Scripts
{
    <script src="~/Libraries/ckeditor/4.8.0/ckeditor.js"></script>
    <script>
        $(function () {
			var editor = CKEDITOR.replace('editor', {
				height: $(window.document).height() - 140
			})
			$(window).resize(function () {
				CKEDITOR.instances.editor.resize($(window).width(), $('body').height() - 1)
			})
        })
    </script>
}

