
<div class="position-absolute layout" style="left: 1em; right: 1em; bottom: 4.5em;">
    <table class="table">
        <tr>
            <td style="width: 80px">
                <label for="name">表单名称</label>
            </td>
            <td>
                <input type="text" class="form-control" id="name" name="Name" placeholder="请输入表单名称" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="name">备注</label>
            </td>
            <td>
                <textarea name="Remark" class="form-control"></textarea>
            </td>
        </tr>
    </table>
</div>
<div class="position-absolute layout border-top" style="top: auto; height: 4.5em;">
    <table class="table border-0" style="height: 100%; margin: 0px;">
        <tr>
            <td>
                <input type="button" class="btn btn-default" value="保存" />
            </td>
        </tr>
    </table>
</div>