
<table class="table" style="width: 98%; margin: 0px auto;">
	<tr>
		<td style="width: 80px">
			<label for="name">表单名称</label>
		</td>
		<td>
			<input type="text" class="form-control" id="name" name="Name" placeholder="请输入表单名称" />
		</td>
	</tr>
</table>
